node_modules/
.bin

*.tsbuildinfo

# .env
# .env.*
.env
.env.local
.env.*.local

*.log
npm-debug.log*

.next/
out/
next-env.d.ts

dist/

.vercel
coverage/

dump.rdb

__generated__/
*.graphql.d.ts
*.graphqls.d.ts

mailKey.json
